<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="dark">
    <div class="screen-overlay"></div>
    // for side nav bar

    <%- include('../layouts/adminSide') %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Users list</h2>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">

                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                               
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th class="pl-25">User</th>
                                        <th>Email</th>
                                        <th class="">Status</th>
                                        <th>Verified</th>
                                        <th>Registered</th>
                                        <th class="pl-75">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<users.length; i++){ %>
                                        <tr>
                                            <td>
                                                <%= [i+1] %>
                                            </td>
                                            <td>
                                                <a  class="itemside">
                                                    <!-- <div class="left">
                                                        <img src="/adminAssets/imgs/people/avatar-1.png" class="img-sm img-avatar" alt="Userpic" />
                                                    </div> -->
                                                    <div class="info pl-3">
                                                        <h6 class="mb-0">
                                                            <%= users[i].name %>
                                                        </h6>
                                                        <!-- <small class="text-muted">Seller ID: #439</small> -->
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <%= users[i].email %>
                                            </td>
                                            <td>
                                                <% if (users[i].is_blocked==0) { %>
                                                    <span class="r-150 badge rounded-pill alert-success">
                                                        Active
                                                    </span>
                                                    <% } else { %>
                                                        <span class="badge rounded-pill alert-danger">
                                                            Deactive
                                                        </span>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <% if (users[i].is_verified) { %>
                                                    <span class="badge bg-success">Verified</span>
                                                    <% } else { %>
                                                        <span class="badge bg-secondary">Not Verified</span>
                                                        <% } %>
                                            </td>


                                            <td>
                                                <%= users[i].registerDate.getDate() %> -
                                                    <%= users[i].registerDate.getMonth()+1 %> -
                                                        <%= users[i].registerDate.getFullYear() %>
                                            </td>
                                            <td class="pl-50">
                                                <% if (users[i].is_blocked==0) { %>
                                                    <button onclick="blockOrUnblockUser('<%= users[i]._id %>',false)"
                                                        class="btn btn-sm rounded font-sm mt-15 btn-danger">
                                                        Block User
                                                    </button>
                                                    <% } else { %>
                                                        <button onclick="blockOrUnblockUser('<%= users[i]._id %>',true)"
                                                            class="btn btn-sm rounded font-sm mt-15 btn-success">
                                                            Unblock User
                                                        </button>
                                                        <% } %>
                                            </td>

                                        </tr>
                                        <% } %>

                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                
                            <% if(currentPage > 1){ %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/userList?page=1">1</a>
                                </li>
                            <% } else  { %>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0);">1</a>
                                </li>
                            <% }  %>
                
                            <% for(let i = 2; i <= totalPage; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="/admin/userList?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                
                            <% if(currentPage < totalPage){ %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/userList?page=<%= currentPage + 1 %>"><i class="material-icons md-chevron_right"></i></a>
                                </li>
                            <% }else{ %>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);"><i class="material-icons md-chevron_right"></i></a>
                                </li>
                            <% } %>
                
                            <!-- Other pagination items like next/previous buttons can be added here -->
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/adminAssets/js/vendors/select2.min.js"></script>
        <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/adminAssets/js/main.js?v=1.1" type="text/javascript"></script>
        <script>
            async function blockOrUnblockUser(userId, is_blocked) {
                console.log('fgsfhrthdfgvsdfh' + userId);
                const action = is_blocked ? 'unblock' : 'block';
                const confirmationText = `Are you sure you want to ${action} this user?`;

                // Show SweetAlert confirmation dialog
                const result = await Swal.fire({
                    title: 'Confirm Action',
                    text: confirmationText,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: `Yes, ${action} them!`,
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true,
                    customClass: {
                        popup: 'custom-swal-background'
                    }
                });

                if (result.isConfirmed) {
                    try {
                        const response = await fetch('/admin/userList', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ userId })
                        });

                        const data = await response.json();

                        if (data) {
                            location.reload()
                        }


                    } catch (error) {
                        console.error('Error:', error);
                    }
                }
            }
        </script>
</body>

</html>