<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userassets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userassets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userassets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userassets/images/icons/site.html">
    <link rel="mask-icon" href="/userassets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userassets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userassets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userassets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userassets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.css">
    <!-- Add Toastify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">
    <!-- Add Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <style>
        .address-container {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            margin: 20px auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .address-container h2 {
            margin-top: 0;
        }

        .address-line {
            margin: 5px 0;
        }

        .address-container button {
            margin-top: 10px;
            margin-right: 5px;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 12px;
        }

        .address-container button:hover {
            background-color: #0056b3;
        }

        .modal .modal-content {
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <%- include('../layouts/pageHeader') %>
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <form>
                                <input type="text" class="form-control" required id="checkout-discount-input">
                                <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
                                        here to enter your code</span></label>
                            </form>
                        </div><!-- End .checkout-discount -->
                        <form id="orderForm">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                    <p>You Can Add up to 5 Addresses(<%= 5 - addressData.length %> remaining).
                                    </p>
                                    <% if (addressData.length < 5) { %>
                                        <p><a href="/address">Add new Address <i class="icon-edit"></i></a></p>
                                        <% } %>
                                            <div class="row">
                                                <% addressData.forEach(element=> { %>
                                                    <div class="address-container">
                                                        <label for="<%= element._id %>">
                                                            <input type="radio" id="<%= element._id %>"
                                                                name="selectedAddress" value="<%= element._id %>">
                                                            <h2><span class="icon">📍</span> Address</h2>
                                                            <div class="address-line"><b>Name</b>: <%= element.fullName
                                                                    %>
                                                            </div>
                                                            <div class="address-line"><b>Mob</b>: <%=
                                                                    element.phoneNumber %>
                                                            </div>
                                                            <div class="address-line"><b>Address</b>: <%=
                                                                    element.addressLine1 %>, <%= element.addressLine2 %>
                                                            </div>
                                                            <div class="address-line">
                                                                <%= element.city %>, <%= element.state %>
                                                            </div>
                                                            <div class="address-line"><b>Zip Code</b>: <%=
                                                                    element.postalCode %>
                                                            </div>
                                                        </label>
                                                        <a href="/editAddress?addressId=<%= element._id %>"
                                                            class="text-primary">Edit <i class="fas fa-edit"></i></a>
                                                    </div>
                                                    <% }) %>
                                            </div> <!-- End .row -->
                                </div><!-- End .col-lg-9 -->

                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (cartData && cartData.product && cartData.product.length> 0) { %>
                                                    <% cartData.product.forEach(element=> { %>
                                                        <tr>
                                                            <td><a href="#">
                                                                    <%= element.productId.productName %>
                                                                </a></td>
                                                            <td>$<%= element.subTotal %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="2">No products in cart</td>
                                                                </tr>
                                                                <% } %>
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <!-- <div class="card">
                                                <div class="card-header" id="heading-1">
                                                    <h2 class="card-title">
                                                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                            Direct bank transfer
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header --
                                                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                                                    </div><!-- End .card-body --
                                                </div><!-- End .collapse --
                                            </div>End .card -->

                                            <!-- <div class="card">
                                                <div class="card-header" id="heading-2">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                            Check payments
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header --
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    </div><!-- End .card-body --
                                                </div><!-- End .collapse --
                                            </div>End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <!-- <h2 class="card-title">
                                                        <a class="collapsed" role="button"   data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                            Cash on delivery
                                                        </a>
                                                    </h2> -->
                                                    <h2 class="card-title"></h2>
                                                    <input type="checkbox" value="COD" name="paymentMethod"> <span>Cash
                                                        On delivery</span>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum
                                                        dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                        Quisque volutpat mattis eros.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <!-- <div class="card">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                            PayPal <small class="float-right paypal-link">What is PayPal?</small>
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header --
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                                                    </div><!-- End .card-body --
                                                </div><!-- End .collapse --
                                            </div>End .card -->

                                            <!-- <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                            Credit Card (Stripe)
                                                            <img src="/userassets/images/payments-summary.png" alt="payments cards">
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header --
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                    <div class="card-body"> Donec nec justo eget felis facilisis fermentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                    </div><!-- End .card-body --
                                                </div><!-- End .collapse --
                                            </div><!-- End .card --
                                        </div>End .accordion -->

                                            <button onclick="placeOrder(event)" type="button"
                                                class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../layouts/pageFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobile-menu-overlay -->

    <!-- Plugins JS File -->
    <script src="/userassets/js/jquery.min.js"></script>
    <script src="/userassets/js/bootstrap.bundle.min.js"></script>
    <script src="/userassets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userassets/js/jquery.waypoints.min.js"></script>
    <script src="/userassets/js/superfish.min.js"></script>
    <script src="/userassets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/userassets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Include Toastify JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.js"></script>
    <script>
        function placeOrder(event) {
            event.preventDefault();

            var selectedAddressId = document.querySelector('input[name="selectedAddress"]:checked');
            var selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');

            if (!selectedAddressId) {
                Toastify({
                    text: "Please select an address.",
                    duration: 3000,
                    gravity: "top",
                    backgroundColor: "orange"
                }).showToast();
                return;
            }

            if (!selectedPaymentMethod) {
                Toastify({
                    text: "Please select a payment method.",
                    duration: 3000,
                    gravity: "top",
                    backgroundColor: "orange"
                }).showToast();
                return;
            }
            var orderData = {
                selectedAddress: selectedAddressId.value,
                paymentMethod: selectedPaymentMethod.value
            };

            axios.post('/orders', orderData)
                .then(function (response) {
                    window.location.href = `/loadsuccessPage?orderId=${response.data.orderId}`;
                })
                .catch(function (error) {
                    if (error.response && error.response.status === 500 && error.response.data.message === 'Insufficient stock for product') {
                        const { name, stock, qty } = error.response.data;
                        Toastify({
                            text: `Insufficient stock for ${name}. Stock available: ${stock}. Requested quantity: ${qty}`,
                            duration: 3000,
                            gravity: "top",
                            backgroundColor: "red",
                            onClose: function () {
                                window.location.href = "/cart"; // Redirect to the cart page after showing the error
                            }
                        }).showToast();
                    } else {
                        console.log(error);
                        Toastify({
                            text: "Failed to place order. Please try again.",
                            duration: 3000,
                            gravity: "bottom",
                            backgroundColor: "red"
                        }).showToast();
                    }
                });
        }
    </script>
</body>

</html>