<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order Tracking - Digital Empire</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="favicon/jpg" sizes="32x32" href="/userAssets/images/icons/icon.jpg">
    <link rel="icon" type="favicon/jpg" sizes="16x16" href="/userAssets/images/icons/icon.jpg">
    <link rel="manifest" href="/userAssets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/images/icons/icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="Assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/userAssets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f8f9fa;
            color: #333;
            margin-top: 50px;
        }

        .container {
            max-width: 1200px;
        }

        .card {
            background-color: #fff;
            border: none;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
        }

        .card-title {
            font-size: 24px;
            font-weight: 700;
            color: #333;
        }

        .order-details {
            border: 1px solid #e9ecef;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: #fff;
        }

        .order-details h2 {
            font-size: 20px;
            font-weight: 600;
            color: #333;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .product-item {
            margin-bottom: 20px;
            border: 1px solid #e9ecef;
            padding: 15px;
            border-radius: 10px;
            background-color: #fff;
        }

        .product-item h4 {
            margin-top: 0;
            font-size: 18px;
            color: #007bff;
        }

        .status-badge {
            display: inline-block;
            padding: 8px 15px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .status-delivered {
            background-color: #28a745;
            color: #fff;
        }

        .status-processing {
            background-color: #007bff;
            color: #fff;
        }

        .status-cancelled {
            background-color: #dc3545;
            color: #fff;
        }
        .badge.Accepted {
            background-color: #8bc34a;
            color: #ffff;
        }

        .badge.Denied {
            background-color: rgb(230, 2, 2);
            color: #ffff;
        }
        .status-pending {
            background-color: #ffc107;
            color: #333;
        }

        

        .address {
            border: 1px solid #e9ecef;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            background-color: #f8f9fa;
        }

        .address h2 {
            font-size: 16px;
            margin-bottom: 5px;
            color: #333;
        }

        .address p {
            margin: 0;
            font-size: 14px;
            line-height: 1.5;
            color: #666;
        }

        .badge {
            padding: 5px 10px;
            border-radius: 3px;
        }

        .badge.Pending {
            background-color: #ffc107;
            color: #000;
        }

        .badge.Shipped {
            background-color: #17a2b8;
            color: #fff;
        }

        .badge.Delivered {
            background-color: #28a745;
            color: #fff;
        }

        .badge.Canceled {
            background-color: #dc3545;
            color: #fff;
        }

        .badge.RefundAccepted {
            background-color: #007bff;
            color: #fff;
        }

        .badge.Confirmed {
            background-color: #8bc34a;
            color: #ffffff;
        }

        .badge {
            background-color: #6c757d;
            color: #fff;
        }

        .btn-block {
            width: 100%;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .text-center span {
            color: #007bff;
        }
    </style>
</head>

<body>

    <%- include('../layouts/pageHeader') %>

    <div class="container mt-5">
        <div class="card p-4">
            <h3 class="text-center mb-4">Order Tracking - <span>Digi</span></h3>
            <% orderData.forEach(element => { %>
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="card order-details">
                        <div class="card-body">
                            <h2 class="card-title">Order #<%= element.orderNumber %></h2>
                            <div class="card-text mb-4">
                                <strong>Address:</strong>
                                <div class="address">
                                    <h2><%= element.selectedAddress.fullName %></h2>
                                    <p><%= element.selectedAddress.addressLine1 %></p>
                                    <p><%= element.selectedAddress.phoneNumber %></p>
                                    <p><%= element.selectedAddress.city %>, <%= element.selectedAddress.state %>, <%= element.selectedAddress.country %></p>
                                </div>
                            </div>
                            <div class="card-text mb-4"><strong>Payment Method:</strong> <%= element.paymentMethod %></div>
                            <div class="card-text mb-4"><strong>Status:</strong> <span class="badge <%= element.status %>"><%= element.status %></span></div>
                            <div class="card-text mb-4"><strong>Order Total:</strong> <%= element.orderTotal %></div>
                            <div class="card-text mb-4"><strong>Discount:</strong> <%= element.discount %></div>
                            <a href="/downloadInvoice/<%= element._id %>" class="btn btn-primary btn-block mt-4">Download Invoice</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card product-details">
                        <div class="card-body">
                            <h3 class="card-title">Products:</h3>
                            <% element.product.forEach(product => { %>
                            <div class="product-item">
                                <h4><%= product.productId.productName %></h4>
                                <p><strong>Price:</strong> <%= product.productId.varientId.variantPrice %></p>
                                <p><strong>Quantity:</strong> <%= product.quantity %></p>
                            </div>
                            <% }) %>
                            <a onclick="goBack()" class="btn btn-primary btn-block mt-4">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <%- include('../layouts/pageFooter') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
