<!DOCTYPE html>
<html lang="en">


<!-- molla/category-boxed.html  22 Nov 2019 10:03:00 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digital Empire</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="icon" type="favicon/jpg" sizes="32x32" href="/userAssets/images/icons/icon.jpg">
    <link rel="icon" type="favicon/jpg" sizes="16x16" href="/userAssets/images/icons/icon.jpg">
    <link rel="manifest" href="/userAssets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/images/icons/icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userAssets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="page-wrapper">

        <!-- page header ejs -->



        <%- include('../layouts/pageHeader') %>

            <main class="main">
                <div class="page-header text-center"
                    style="background-image: url('/userAssets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">Boxed No Sidebar<span>Shop</span></h1>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Shop</a></li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="container">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                            </div> <!-- End .toolbox-left -->

                            <!-- <div class="toolbox-center">
                                <div class="toolbox-info">
                                    Showing <span>12 of 56</span> Products
                                </div> <!-- End .toolbox-info  --
                            </div>End .toolbox-center -->

                            <div class="toolbox-right">
                                <div class="toolbox-sort">
                                    <label for="sortby">Sort by:</label>
                                    <div class="select-custom">
                                        <select name="sortby" id="sortby" class="form-control">
                                            <option value="popularity" selected="selected">Most Popular</option>
                                            <option value="rating">Most Rated</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div><!-- End .toolbox-sort -->
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products">
                            <div class="row">
                                <!-- <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a href="product.html">
                                            <img src="/userAssets/images/products/product-1.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action 

                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                        </div><!-- End .product-action 
                                    </figure>End .product-media

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat 
                                        <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title 
                                        <div class="product-price">
                                            $50.00
                                        </div><!-- End .product-price 
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val 
                                            </div><!-- End .ratings 
                                            <span class="ratings-text">( 0 Reviews )</span>
                                        </div><!-- End .rating-container 

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav 
                                    </div><!-- End .product-body 
                                </div><!-- End .product 
                            </div>End .col-sm-6 col-lg-4 col-xl-3 -->
                                <% if(productData !=='undefined' ){ %>
                                    <% productData.forEach((element,index)=> { %>


                                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="productPage?productId=<%= element._id %>">
                                                        <img src="<%= element.productImage[0] %>" alt="Product image"
                                                            class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#"
                                                            class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                                to wishlist</span></a>
                                                    </div><!-- End .product-action -->

                                                    <div class="product-action action-icon-top">
                                                        <a href="/cart" class="btn-product btn-cart"><span>add to
                                                                cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview"
                                                            title="Quick view"><span>quick view</span></a>
                                                        <a href="#" class="btn-product btn-compare"
                                                            title="Compare"><span>compare</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">Accessories</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">
                                                            <%= element.productName %>
                                                        </a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        ₹ <%= varientData[index].variantPrice %>
                                                    </div><!-- End .product-price -->
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 80%;"></div>
                                                            <!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 11 Reviews )</span>
                                                    </div><!-- End .rating-container -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                        <% }); %>
                                            <% } %>

                                                <!-- <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-sale">30% off</span>
                                        <a href="product.html">
                                            <img src="/userAssets/images/products/product-3.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action 

                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                        </div><!-- End .product-action 
                                    </figure><!-- End .product-media 

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat
                                        <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3><!-- End .product-title
                                        <div class="product-price">
                                            <span class="new-price">$50.00</span>
                                            <span class="old-price">$84.00</span>
                                        </div><!-- End .product-price 
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val
                                            </div><!-- End .ratings 
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div><!-- End .rating-container 

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #7fc5ed;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #e8c97a;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav 
                                    </div><!-- End .product-body 
                                </div><!-- End .product 
                            </div>End .col-sm-6 col-lg-4 col-xl-3 -->

                                                <!-- <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="/userAssets/images/products/product-4.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action 

                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                        </div><!-- End .product-action 
                                    </figure><!-- End .product-media 

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Dresses</a>
                                        </div><!-- End .product-cat 
                                        <h3 class="product-title"><a href="product.html">Brown paperbag waist pencil skirt</a></h3><!-- End .product-title
                                        <div class="product-price">
                                            $60.00
                                        </div><!-- End .product-price 
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val
                                            </div><!-- End .ratings 
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container 

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #7b5d36;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav 
                                    </div><!-- End .product-body 
                                </div><!-- End .product
                            </div>End .col-sm-6 col-lg-4 col-xl-3 -->

                                                <!-- <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-out">Out of stock</span>
                                        <a href="product.html">
                                            <img src="/userAssets/images/products/product-6.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action 

                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                        </div><!-- End .product-action 
                                    </figure><!-- End .product-media 

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Jackets</a>
                                        </div><!-- End .product-cat 
                                        <h3 class="product-title"><a href="product.html">Khaki utility boiler jumpsuit</a></h3><!-- End .product-title
                                        <div class="product-price">
                                            <span class="out-price">$120.00</span>
                                        </div><!-- End .product-price 
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val 
                                            </div><!-- End .ratings 
                                            <span class="ratings-text">( 6 Reviews )</span>
                                        </div><!-- End .rating-container 
                                    </div><!-- End .product-body 
                                </div><!-- End .product 
                            </div>End .col-sm-6 col-lg-4 col-xl-3 -->


                                                <!-- <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-top">Top</span>
                                        <a href="product.html">
                                            <img src="/userAssets/images/products/product-11.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action 

                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                        </div><!-- End .product-action 
                                    </figure><!-- End .product-media 

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat 
                                        <h3 class="product-title"><a href="product.html">Light brown studded Wide fit wedges</a></h3><!-- End .product-title
                                        <div class="product-price">
                                            $110.00
                                        </div><!-- End .product-price 
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val 
                                            </div><!-- End .ratings 
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container 

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #dac1a7;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav 
                                    </div><!-- End .product-body 
                                </div><!-- End .product 
                            </div>End .col-sm-6 col-lg-4 col-xl-3 -->
                            </div><!-- End .row -->

                            <!-- <div class="load-more-container text-center">
                                <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i
                                        class="icon-refresh"></i></a>
                            </div>End .load-more-container -->
                        </div><!-- End .products -->

                        <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                        <aside class="sidebar-shop sidebar-filter">
                            <form action="" method="GET" id="filter-form">
                                <div class="sidebar-filter-wrapper">
                                    <div class="widget widget-clean">
                                        <label><i class="icon-close"></i>Filters</label>
                                        <a href="#" class="sidebar-filter-clear">Clean All</a>
                                    </div><!-- End .widget -->
                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-1" role="button"
                                                aria-expanded="true" aria-controls="widget-1">
                                                Category
                                            </a>
                                        </h3><!-- End .widget-title -->
                                        <div class="collapse show" id="widget-1">
                                            <div class="widget-body">
                                                <div class="filter-items filter-items-count">
                                                    <% categoryData.forEach((element,index)=> { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    value="<%= element.name %>" name="category"
                                                                    id="cat-<%= index %>">
                                                                <label class="custom-control-label"
                                                                    for="cat-<%= index %>">
                                                                    <%= element.name %>
                                                                </label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .filter-item -->
                                                        <% }) %>
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-2" role="button"
                                                aria-expanded="true" aria-controls="widget-2">
                                                RAM
                                            </a>
                                        </h3><!-- End .widget-title -->
                                        <div class="collapse show" id="widget-2">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <% ram.forEach((element,index)=> { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    value="<%= element %>" name="ram"
                                                                    id="ram-<%= index %>">
                                                                <label class="custom-control-label"
                                                                    for="ram-<%= index %>">
                                                                    <%= element %>
                                                                </label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .filter-item -->
                                                        <% }) %>
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-3" role="button"
                                                aria-expanded="true" aria-controls="widget-3">
                                                Processor
                                            </a>
                                        </h3><!-- End .widget-title -->
                                        <div class="collapse show" id="widget-3">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <% processor.forEach((element,index)=> { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    value="<%= element %>" name="processor"
                                                                    id="processor-<%= index %>">
                                                                <label class="custom-control-label"
                                                                    for="processor-<%= index %>">
                                                                    <%= element %>
                                                                </label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .filter-item -->
                                                        <% }) %>
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-4" role="button"
                                                aria-expanded="true" aria-controls="widget-4">
                                                GPU
                                            </a>
                                        </h3><!-- End .widget-title -->
                                        <div class="collapse show" id="widget-4">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <% gpu.forEach((element,index)=> { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    value="<%= element %>" name="gpu"
                                                                    id="gpu-<%= index %>">
                                                                <label class="custom-control-label"
                                                                    for="gpu-<%= index %>">
                                                                    <%= element %>
                                                                </label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .filter-item -->
                                                        <% }) %>
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-5" role="button"
                                                aria-expanded="true" aria-controls="widget-5">
                                                COLOR
                                            </a>
                                        </h3><!-- End .widget-title -->
                                        <div class="collapse show" id="widget-5">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <% color.forEach((element,index)=> { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    value="<%= element %>" name="color"
                                                                    id="color-<%= index %>">
                                                                <label class="custom-control-label"
                                                                    for="color-<%= index %>">
                                                                    <%= element %>
                                                                </label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .filter-item -->
                                                        <% }) %>
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-6" role="button"
                                                aria-expanded="true" aria-controls="widget-6">
                                                Brand
                                            </a>
                                        </h3><!-- End .widget-title -->
                                        <div class="collapse show" id="widget-6">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <% brand.forEach((element,index)=> { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    value="<%= element %>" name="brand"
                                                                    id="brand-<%= index %>">
                                                                <label class="custom-control-label"
                                                                    for="brand-<%= index %>">
                                                                    <%= element %>
                                                                </label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .filter-item -->
                                                        <% }) %>
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-5" role="button"
                                                aria-expanded="true" aria-controls="widget-5">
                                                Price
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-5">
                                            <div class="widget-body">
                                                <div class="filter-price">
                                                    <div class="filter-price-text">
                                                        Price Range:
                                                        <span id="filter-price-range"></span>
                                                    </div><!-- End .filter-price-text -->

                                                    <div id="price-slider"></div><!-- End #price-slider -->
                                                </div><!-- End .filter-price -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->
                                </div><!-- End .sidebar-filter-wrapper -->
                                <div class="form-group text-center">
                                    <button type="button" onclick="priceRange(event)" class="btn btn-primary">Apply
                                        Filter</button>
                                </div>

                            </form><!-- End .form -->
                        </aside><!-- End .sidebar-filter -->

                    </div><!-- End .container -->
                </div><!-- End .page-content -->
            </main><!-- End .main -->

            <!--  for the footer of the page 
        
        
        
        
        
        
        
        
        -->
            <%- include('../layouts/pageFooter') %>



    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="/userAssets/js/jquery.min.js"></script>
    <script src="/userAssets/js/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userAssets/js/jquery.waypoints.min.js"></script>
    <script src="/userAssets/js/superfish.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/js/wNumb.js"></script>
    <script src="/userAssets/js/bootstrap-input-spinner.js"></script>
    <script src="/userAssets/js/jquery.magnific-popup.min.js"></script>
    <script src="/userAssets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="/userAssets/js/main.js"></script>

    <script>
        function priceRange(event) {
            event.preventDefault();

            const form = document.querySelector('.sidebar-filter form');
            const formData = new FormData(form);

            const allFormData = [];
            const selectedCategory = [];
            const selectedRam = [];
            const selectedProcessor = [];
            const selectedColor = [];
            const selectedBrand = [];
            const selectedGPU = [];

            const checkboxes = form.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    if (checkbox.name === 'category') {
                        selectedCategory.push(checkbox.value);
                    } else if (checkbox.name === 'ram') {
                        selectedRam.push(checkbox.value); 
                    }else if( checkbox.name === 'processor' ){
                        selectedProcessor.push(checkbox.value);
                    }else if(checkbox.name === 'color'){
                        selectedColor.push(checkbox.value);
                    }
                    else if(checkbox.name === 'brand'){
                        selectedBrand.push(checkbox.value);
                    }else if(checkbox.name === 'gpu'){
                        selectedGPU.push(checkbox.value)
                    }
                     else {
                        allFormData.push({ [checkbox.name]: checkbox.value });
                    }
                }
            });

            if (selectedCategory.length > 0) {
                allFormData.push({ category: selectedCategory }); // Add selected categories as array
            }

            if (selectedRam.length > 0) {
                allFormData.push({ ram: selectedRam }); // Add selected RAM values as array
            }

            if(selectedProcessor.length >0){
                allFormData.push({processor: selectedProcessor})
            }
            if(selectedColor.length > 0){
                allFormData.push({color : selectedColor})
            }
            if(selectedBrand.length > 0){
                allFormData.push({brand:selectedBrand})
            }
            if(selectedGPU.length > 0){
                allFormData.push({gpu:selectedGPU})
            }

            console.log('all', allFormData);

            const priceRangeElement = document.getElementById('filter-price-range');
            if (priceRangeElement) {
                allFormData.push({  'priceRange': priceRangeElement.innerText });
            }

            console.log('form', JSON.stringify(allFormData));

            fetch('/shop', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(allFormData)
            })
                .then(response => response.json())
                .then(data => {
                    if(data.message === 'completed' ){
                        console.log('Form data sent successfully:',data.filteredData);
                        displayProduct(data.filteredData)
                    }
                })
                .catch(error => {
                    console.error('Error sending form data:', error);
                });

        }

        function displayProduct(filteredData) {
    const productAfterFilter = document.querySelector('.products .row');
    productAfterFilter.innerHTML = '';

    

    filteredData.forEach((element, index) => {
        const productElement = document.createElement('div');
        productElement.classList.add('col-6', 'col-md-4', 'col-lg-4', 'col-xl-3');
        productElement.innerHTML = `
            <div class="product">
                <figure class="product-media">
                    <a href="productPage?productId=${element._id}">
                        <img src="${element.productImage[0]}" alt="Product image" class="product-image">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                    </div>
                    <div class="product-action action-icon-top">
                        <a href="/cart" class="btn-product btn-cart"><span>add to cart</span></a>
                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                    </div>
                </figure>
                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">Accessories</a>
                    </div>
                    <h3 class="product-title"><a href="product.html">${element.productName}</a></h3>
                    <div class="product-price">
                        ₹ ${filteredData[index].variantPrice}
                    </div>
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: 80%;"></div>
                        </div>
                        <span class="ratings-text">( 11 Reviews )</span>
                    </div>
                </div>
            </div>`;
        productAfterFilter.appendChild(productElement);
    });
}
    </script>


</body>


<!-- molla/category-boxed.html  22 Nov 2019 10:03:02 GMT -->

</html>